body{
    font-family: serif;
    color: black;
    font-size: 16px;
}

a::after{
    content: "[" attr(href) "]"; /*O atributo href do meu link vai ser incluido aqui*/
    display: inline-block;
    margin: 0 10px;
}